Repository gianmarco-mameli/unifi-cam-proxy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: hadolint, build_image, publish_image

.gitlab-ci.yml:

variables:
  IMAGE_NAME: "unifi-cam-proxy"
  VERSION: "0.2.0"

  REGISTRY_IMAGE: "$PRIVATE_REGISTRY/$IMAGE_NAME"
  DOCKER_VERSION: "20.10.21"
  DIND_VERSION: $DOCKER_VERSION'-dind'
  BUILDX_VERSION: "0.10"
  BUILDX_IMAGE: "$CI_REGISTRY/docker_images/buildx:$BUILDX_VERSION"
  BUILDER_IMAGE: "${IMAGE_NAME}-builder-$CI_CONCURRENT_ID"

stages:
  - linting
  - build
  - publish

# before_script:
#   - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

image: $BUILDX_IMAGE

buildkit_toml:
  stage: .pre
  script:
    - envsubst < buildkitd.toml.tmpl > buildkitd.toml
  artifacts:
    paths:
      - buildkitd.toml

hadolint:
  stage: linting
  image: registry.gitlab.com/pipeline-components/hadolint:latest
  script:
    - hadolint Dockerfile
  allow_failure: true
  rules:
    - changes:
        - Dockerfile

build_image:
  stage: build
  script:
    - docker buildx create --use --name ${BUILDER_IMAGE} --config=buildkitd.toml
    - docker buildx bake --load --file package_bake.hcl --progress plain
  rules:
    - changes:
        - Dockerfile
        - .gitlab-ci.yml
        - package_bake.hcl
  after_script:
    - docker buildx stop ${BUILDER_IMAGE}
    - docker buildx rm ${BUILDER_IMAGE}

publish_image:
  stage: publish
  script:
    - docker push ${REGISTRY_IMAGE}:${VERSION}-armv7
    - docker push ${REGISTRY_IMAGE}:${VERSION}-arm64
    - docker manifest create ${REGISTRY_IMAGE}:${VERSION} --amend ${REGISTRY_IMAGE}:${VERSION}-armv7 --amend ${REGISTRY_IMAGE}:${VERSION}-arm64
    - docker manifest push $REGISTRY_IMAGE:$VERSION
  rules:
    - changes:
        - Dockerfile
        - .gitlab-ci.yml
        - package_bake.hcl

added cargo
  Dockerfile
Due: hadolint, build_image, publish_image

test new python
  Dockerfile
Due: hadolint, build_image, publish_image

added zlib
  Dockerfile
Due: hadolint, build_image, publish_image

pillow deps
  Dockerfile
Due: hadolint, build_image, publish_image

update ci
  .gitlab-ci.yml
  buildkitd.toml.tmpl
  package_bake.hcl
Due: build_image, publish_image

buildi
  .gitlab-ci.yml
  buildkitd.toml.tmpl
Due: build_image, publish_image

python 3.11
  Dockerfile
Due: hadolint, build_image, publish_image

removed armv7
  Dockerfile
  package_bake.hcl
Due: hadolint, build_image, publish_image

bug alpine version
  Dockerfile
Due: hadolint, build_image, publish_image

restore versions
  Dockerfile
Due: hadolint, build_image, publish_image

new build
  .gitlab-ci.yml
Due: build_image, publish_image

new tag
  Dockerfile
Due: hadolint, build_image, publish_image

test
  .gitlab-ci.yml
  Dockerfile
Due: hadolint, build_image, publish_image

test
  requirements.txt
Due: none

new name
  .gitlab-ci.yml
Due: build_image, publish_image

added req
  requirements.txt
Due: none

req
  requirements.txt
Due: none

new version
  .gitlab-ci.yml
  requirements.txt
Due: build_image, publish_image

new version
  .gitlab-ci.yml
  .pyre_configuration
  unifi/cams/frigate.py
Due: build_image, publish_image

new version
  .dockerignore
  .gitlab-ci.yml
  unifi/cams/frigate.py
Due: build_image, publish_image

new ver
  .gitlab-ci.yml
  requirements.txt
Due: build_image, publish_image

test build and push dockerhub
  .github/workflows/image.yml
Due: none

removed platforms
  .github/workflows/image.yml
Due: none

ok
  .github/workflows/image.yml
Due: none
